<a href="https://colab.research.google.com/github/Valeria4P/Clases-herramientas/blob/main/Primera_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

El teorema de **pitágoras** es:
\begin{equation}
c^2=a^2+b^2
\end{equation}
Con c como la hipotenusa, y a,b como catetos.

In [ ]:
a = 1 #variable de tipo entera
b = 3.15 #variable de punto flotante
print(a,b)

1 3.15

\

In [ ]:
a=1
b="buenos dias"
print(a,b)

1 buenos dias

In [ ]:
x=str(3)
y=int(3)
z=float(3)
print(x,y,z)

3 3 3.0

In [ ]:
print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>

In [ ]:
#cadenas
x="Yo"
y='Tu'
print(x,y)

Yo yo

In [ ]:
m=14.8
M="yendo"
print(m,M)

14.8 yendo

In [ ]:
x, y, z = "Vamos", "al", "parque"
print(x)
print(y)
print(z)

Vamos
al
parque

In [ ]:
x=y=z="Si q si"
print(x)
print(y)
print(z)

Si q si
Si q si
Si q si

In [ ]:
#Vamos a calcular elñ área de un triángulo
#area (a), base(b), altura(h)
b=3 #base de triángulo
h=5 #altura del triangulo
area=b*h/2 #formul del area de un triangulo
print ("El area del triángulo es: 'area' unidades de medida") #imprimo resultado

El area del triángulo es: 'area' unidades de medida

In [ ]:
a= 14/2
b= 25/8
print(a)
print(b)

7.0
3.125

In [ ]:
suma=5+8
suma

13

In [ ]:
resta=58-25
resta

33

In [ ]:
mult=846*558
mult

472068

In [ ]:
divide=5879/32216
divide

0.18248696299975167

In [ ]:
a=8**5 #potencia
a

32768

In [ ]:
a=25**(1/2) #raiz cuadrada
a

5.0

In [ ]:
import keyword #palabras reservadas en phyton
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#numeros complejos
comp=2+3j
print(comp)

(2+3j)

In [ ]:
#cambio de grados centigrados
#f(fahrenheit), k(kelvin) r(rankine),
c=25
f=(c* (9/5)) + 32
k=c+273.15
r=(1.8*c)+491.67
print(f)
print(k)
print(r)

77.0
298.15
536.6700000000001